<div>
	<div class="row">
	  <div class="col">
	    <div class="page-header">
	      <h2>Desplazamientos de individuos</h2>
	    </div>
		</div>
	</div>

	<div class="row">
	      <div class="col-4">
	          <label for="circuito">Desde</label>
	          <div class="input-group mb-3">
	              <input style="background: white;" [(ngModel)]="fromDateForReal" (ngModelChange) = "loadMovenetsStrategy()" class="form-control" placeholder="{{ fromDate }}" name="fromDate" id="fromDate" ngbDatepicker  (click)="fd.toggle(); $event.stopPropagation();" (document:click)="closeFix($event, fd)" readonly #fd="ngbDatepicker">
	              <button class="btn btn-primary input-group-append" (click)="fd.toggle(); $event.stopPropagation();"><i class="fa fa-calendar"></i></button>
	          </div>
	      </div>
	      <div class="col-4">
	          <label for="circuito">Hasta</label>
	          <div class="input-group mb-3">
	              <input style="background: white;" [(ngModel)]="toDateForReal" (ngModelChange) = "loadMovenetsStrategy()" class="form-control" value="{{ toDateForReal }}" placeholder="{{ toDate }}" name="toDate" id="toDate" ngbDatepicker (click)="d.toggle(); $event.stopPropagation();" (document:click)="closeFix($event, d)" readonly #d="ngbDatepicker">
	              <button (click)="d.toggle(); $event.stopPropagation();" class="btn btn-primary input-group-append"><i class="fa fa-calendar"></i></button>
	          </div>
	      </div>
	      <div class="col-4">
	          <div class="row">
		          <label for="circuito">Mostrar</label>
		          <div class="input-group mb-3">
		              	<select id="movements-filter" class="form-control">
							<option value="loadAllMovements" selected>Todos</option>
							<option value="loadAuthorizedMovements">Ingresos autorizados</option>
							<option value="loadDeniedMovements">Ingresos denegados</option>
							<option value="loadMovementsMatching">Coincidentes con persona:</option>
							<option value="loadNotClosedMovements">Incompletos</option>
						</select>
		          </div>
		      </div>
	      </div>
	</div>
	<div class="row mb-3" id="loadMovementsMatchingPerson">
	      <div class="col-8"></div>
	      <div class="col-4">
	          <label for="circuito">Individuo</label>
	          <div class="ng-autocomplete buscar-individuo">
                    <ng-autocomplete [data]="visitors" [searchKeyword]="keyword" [isLoading]="isVisitorLoading" (inputCleared)='onVisitorCleared()'
                        (inputChanged)='getVisitorServerResponse($event)' [itemTemplate]="itemTemplate" 
                        (selected)='onVisitorSelected($event)'
                        [notFoundTemplate]="notFoundTemplate" placeHolder="Buscar individuo...">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div>Persona no encontrada</div>
                    </ng-template>
              </div>
	      </div>
	</div>

	<div class="row alert-info-visitante">
		  <div class="col-12">
	          <h4 class="nombre-visitante"></h4>
	      </div>
	      <div class="col-12">
	          <ul class="list-group list-group-flush registros-visitante"></ul>
	      </div>
	      <div class="col-12 mt-4">
	          <h4>Registros de individuos coincidentes en el tiempo</h4>
	      </div>
	</div>

	<div style="padding-top: 15px">
	    <table id="movements" class="table table-striped table-bordered" style="width:100%"></table>
	</div>
</div>