<div>
	<div class="row">
	  <div class="col">
	    <div class="page-header">
	      <h2>Desplazamientos de individuos</h2>
	    </div>
		</div>
	</div>

	<div class="row">
	      <div class="col-4">
	          <label for="circuito">Desde</label>
	          <div class="input-group mb-3">
	              <input style="background: white;" [(ngModel)]="fromDateForReal" (ngModelChange) = "loadOrders()" class="form-control" placeholder="{{ fromDate }}" name="fromDate" id="fromDate" ngbDatepicker  (click)="fd.toggle(); $event.stopPropagation();" (document:click)="closeFix($event, fd)" readonly>
	              <button class="btn btn-primary input-group-append" (click)="fd.toggle(); $event.stopPropagation();"><i class="fa fa-calendar"></i></button>
	          </div>
	      </div>
	      <div class="col-4">
	          <label for="circuito">Hasta</label>
	          <div class="input-group mb-3">
	              <input style="background: white;" [(ngModel)]="toDateForReal" (ngModelChange) = "loadOrders()" class="form-control" value="{{ toDateForReal }}" placeholder="{{ toDate }}" name="toDate" id="toDate" ngbDatepicker (click)="d.toggle(); $event.stopPropagation();" (document:click)="closeFix($event, d)" readonly>
	              <button (click)="d.toggle(); $event.stopPropagation();" class="btn btn-primary input-group-append"><i class="fa fa-calendar"></i></button>
	          </div>
	      </div>
	      <div class="col-4">
	          <label for="circuito">Mostrar</label>
	          <div class="input-group mb-3">
	              	<select class="form-control">
						<option value="" selected>Todos</option>
						<option value="">Ingresos autorizados</option>
						<option value="">Ingresos denegados</option>
						<option value="">Coincidentes con persona:</option>
					</select>
	          </div>
	      </div>
	</div>

	<div style="padding-top: 15px">
	    <table id="movements" class="table table-striped table-bordered" style="width:100%"></table>
	</div>
</div>